[*.cs]

# IDE0090: Use 'new(...)'
dotnet_diagnostic.IDE0090.severity = silent

# IDE0055: Fix formatting
dotnet_diagnostic.IDE0055.severity = none

# IDE0022: Use block body for method
csharp_style_expression_bodied_methods = false
